FROM balenalib/rpi-raspbian:bullseye

# Install required packages
RUN apt-get update -q \
  && DEBIAN_FRONTEND=noninteractive apt-get install -yq --no-install-recommends \
      autoconf \
      automake \
      build-essential \
      ca-certificates \
      curl \
      g++ \
      gcc \
      gettext \
      libssl-dev \
      locales

RUN echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
RUN locale-gen en_US.UTF-8
ENV LANG en_US.UTF-8
ENV LANGUAGE en_US:en
ENV LC_ALL en_US.UTF-8

RUN update-ca-certificates -f

<%= Snippets.new(include: %w[versions cmake], platform: 'armv6l').populate %>
