FROM debian:11-slim as builder
RUN apt-get update \
    && apt-get install -y --no-install-recommends \
        curl \
        ca-certificates \
        bzip2 \
    && ln -s /etc/ssl/certs/ca-certificates.crt /usr/lib/ssl/cert.pem
<%= Snippets.new(include: %w[versions]).populate %>
ENV GO_VERSION="${GO_VERSION_NEXT}"
<%= Snippets.new(include: %w[go]).populate %>

FROM debian:11-slim
MAINTAINER GitLab Inc. <support@gitlab.com>
COPY --from=builder / /
