FROM amazonlinux:2022 as openssl-builder

RUN yum update -y -q \
    && yum install -y \
       perl-FindBin \
    && yum groupinstall -y "Development Tools" \
    && yum install -y --allowerasing \
       curl \
       libcurl-devel \
       glibc-locale-source \
       hostname \
       gnupg2 \
       pinentry-tty \
       which \
    && yum mark install -y \
       perl-lib \
    && yum remove -y git \
    && yum clean all

ENV LANG C.UTF-8
ENV LC_ALL C.UTF-8
RUN localedef -c -f UTF-8 -i C C.UTF-8

<%= Snippets.new(include: %w[versions openssl]).populate %>

FROM openssl-builder as ruby-image

ENV RUBY_CONFIGURE_EXTRA_OPTS='--with-openssl-dir=/usr/local/openssl'
ENV PATH=${PATH}:/usr/local/openssl/bin

<%= Snippets.new(fips: fips, include: %w[versions ruby git]).populate %>

FROM ruby-image as builder

RUN yum update -y -q \
    && yum install -y \
       clang-devel \
       curl-devel \
       expat-devel \
       krb5-devel \
       perl-devel \
       libyaml-devel \
       libffi-devel \
       readline-devel \
       gdbm-devel \
       ncurses-devel \
       libgpg-error-devel \
       libassuan-devel \
       file \
    && yum clean all


<%= Snippets.new(fips: fips, exclude: %w[ruby git]).populate %>

FROM amazonlinux:2022

ENV PATH=${PATH}:/usr/local/openssl/bin

LABEL org.opencontainers.image.authors="GitLab Inc. <support@gitlab.com>"

COPY --from=builder / /
